/roles/custom/*
!/roles/custom/miounne
!/roles/custom/miniflux
!/roles/custom/wireguard
!/roles/custom/dnsmasq
!/roles/custom/languagetool
!/roles/custom/.gitkeep
/inventory/hosts
/inventory/host_vars/*
!/inventory/host_vars/.gitkeep
!/inventory/scripts
*.pyc
/taskell.md
/.stfolder
/.stversions
