# ignore custom roles by default
/roles/custom/*
!/roles/custom/.gitkeep

# ignore roles pulled by ansible-galaxy
/roles/galaxy/*
!/roles/galaxy/.gitkeep

# do not ignore following custom roles
!/roles/custom/dnsmasq
!/roles/custom/kuma
!/roles/custom/languagetool
!/roles/custom/miniflux
!/roles/custom/miounne
!/roles/custom/radicale
!/roles/custom/soft-serve
!/roles/custom/wireguard
!/roles/custom/skopeo

# ignore sensitive data by default
/inventory/host_vars/*

# do not ignore tools
!/inventory/host_vars/.gitkeep
!/inventory/scripts

# ignore local-only tools
/upstream.local
/ansible-injector

# python cache
*.pyc
__pycache__
