# ignore temporary state
/play/.skopeo-parallel

# ignore roles pulled by ansible-galaxy
/roles/galaxy/*
!/roles/galaxy/.gitkeep

# ignore sensitive data by default
/inventory/host_vars/*

# do not ignore tools
!/inventory/host_vars/.gitkeep
!/inventory/scripts

# ignore local-only tools
/upstream.local
/ansible-injector

# python cache
*.pyc
__pycache__
