#jinja2: lstrip_blocks: "True"
[Unit]
Description=radicale
{% for service in custom_radicale_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ matrix_systemd_unit_home_path }}"
ExecStartPre=-/usr/bin/env sh -c '/usr/bin/env docker kill custom-radicale 2>/dev/null'
ExecStartPre=-/usr/bin/env sh -c '/usr/bin/env docker rm custom-radicale 2>/dev/null'

ExecStart=/usr/bin/env docker run --rm --name custom-radicale \
          --log-driver=none \
					--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
          --cap-drop=ALL \
					--cap-add=KILL \
					--read-only \
          --network={{ matrix_docker_network }} \
          -v {{ custom_radicale_config_path }}:/config:ro \
          -v {{ custom_radicale_data_path }}:/data \
					-e TAKE_FILE_OWNERSHIP=false \
          {% for arg in custom_radicale_container_extra_arguments %}
          {{ arg }} \
          {% endfor %}
          {{ custom_radicale_docker_image }}

ExecStop=-/usr/bin/env sh -c '/usr/bin/env docker kill custom-radicale 2>/dev/null'
ExecStop=-/usr/bin/env sh -c '/usr/bin/env docker rm custom-radicale 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=custom-radicale

[Install]
WantedBy=multi-user.target
