#jinja2: lstrip_blocks: "True"
[Unit]
Description=LanguageTool
{% for service in custom_languagetool_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ matrix_systemd_unit_home_path }}"
ExecStartPre=-/usr/bin/env sh -c '/usr/bin/env docker kill custom-languagetool 2>/dev/null'
ExecStartPre=-/usr/bin/env sh -c '/usr/bin/env docker rm custom-languagetool 2>/dev/null'

ExecStart=/usr/bin/env docker run --rm --name custom-languagetool \
          --log-driver=none \
          --user=languagetool:languagetool \
          --cap-drop=ALL \
          --network={{ matrix_docker_network }} \
          {% if custom_languagetool_ngrams_enabled %}
          -v {{ custom_languagetool_data_path }}:/data:ro \
          -e langtool_languageModel=/data \
          {% endif %}
          -e Java_Xms={{ custom_languagetool_java_heap_min }} \
          -e Java_Xmx={{ custom_languagetool_java_heap_max }} \
          {% for arg in custom_languagetool_container_extra_arguments %}
          {{ arg }} \
          {% endfor %}
          {{ custom_languagetool_docker_image }}

ExecStopPost=-/usr/bin/env sh -c '/usr/bin/env docker kill custom-languagetool 2>/dev/null'
ExecStopPost=-/usr/bin/env sh -c '/usr/bin/env docker rm custom-languagetool 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=custom-languagetool

[Install]
WantedBy=multi-user.target
