#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix purger room
{% for service in matrix_room_purger_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=oneshot
Environment="HOME={{ matrix_systemd_unit_home_path }}"
ExecStartPre=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} kill matrix-room-purger 2>/dev/null || true'
ExecStartPre=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} rm matrix-room-purger 2>/dev/null || true'

ExecStart={{ matrix_host_command_docker }} run --rm --name matrix-room-purger \
			--log-driver=none \
			--cap-drop=ALL \
			--read-only \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--network={{ matrix_docker_network }} \
			--env-file={{ matrix_room_purger_config_path }}/env \
			{{ matrix_room_purger_docker_image }}

ExecStop=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} kill matrix-room-purger 2>/dev/null || true'
ExecStop=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} rm matrix-room-purger 2>/dev/null || true'
SyslogIdentifier=matrix-room-purger

[Install]
WantedBy=multi-user.target
