#jinja2: lstrip_blocks: "True"
[Unit]
Description=kuma
{% for service in custom_kuma_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ matrix_systemd_unit_home_path }}"
ExecStartPre=-/usr/bin/env sh -c '/usr/bin/env docker kill custom-kuma 2>/dev/null'
ExecStartPre=-/usr/bin/env sh -c '/usr/bin/env docker rm custom-kuma 2>/dev/null'

ExecStart=/usr/bin/env docker run --rm --name custom-kuma \
          --log-driver=none \
					--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
					--entrypoint="/usr/bin/dumb-init" \
          --cap-drop=ALL \
          --network={{ matrix_docker_network }} \
					--dns=1.1.1.1 \
					--dns=1.0.0.1 \
					--dns=8.8.8.8 \
					--dns=8.8.4.4 \
					--dns=9.9.9.9 \
					--dns=149.112.112.112 \
          -v {{ custom_kuma_data_path }}:/app/data \
          {% for arg in custom_kuma_container_extra_arguments %}
          {{ arg }} \
          {% endfor %}
          {{ custom_kuma_docker_image }} \
					node server/server.js

ExecStop=-/usr/bin/env sh -c '/usr/bin/env docker kill custom-kuma 2>/dev/null'
ExecStop=-/usr/bin/env sh -c '/usr/bin/env docker rm custom-kuma 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=custom-kuma

[Install]
WantedBy=multi-user.target
