#jinja2: lstrip_blocks: "True"
[Unit]
Description=kuma
{% for service in custom_kuma_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ matrix_systemd_unit_home_path }}"
ExecStartPre=-/usr/bin/env sh -c '/usr/bin/env docker kill custom-kuma 2>/dev/null'
ExecStartPre=-/usr/bin/env sh -c '/usr/bin/env docker rm custom-kuma 2>/dev/null'

ExecStart=/usr/bin/env docker run --rm --name custom-kuma \
          --log-driver=none \
					--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
          --cap-drop=ALL \
          --network={{ matrix_docker_network }} \
          -v {{ custom_kuma_data_path }}:/app/data \
					-e PUID={{ matrix_user_uid }} \
					-e PGID={{ matrix_user_gid }} \
          {% for arg in custom_kuma_container_extra_arguments %}
          {{ arg }} \
          {% endfor %}
          {{ custom_kuma_docker_image }}

ExecStop=-/usr/bin/env sh -c '/usr/bin/env docker kill custom-kuma 2>/dev/null'
ExecStop=-/usr/bin/env sh -c '/usr/bin/env docker rm custom-kuma 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=custom-kuma

[Install]
WantedBy=multi-user.target
