#jinja2: lstrip_blocks: "True"
[Unit]
Description=Mother Miounne
{% for service in custom_miounne_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ matrix_systemd_unit_home_path }}"
ExecStartPre=-/usr/bin/env sh -c '/usr/bin/env docker kill custom-miounne 2>/dev/null'
ExecStartPre=-/usr/bin/env sh -c '/usr/bin/env docker rm custom-miounne 2>/dev/null'

{% set forms = [] %}

ExecStart=/usr/bin/env docker run --rm --name custom-miounne \
          --log-driver=none \
          --user=miounne:miounne \
          --cap-drop=ALL \
          --network={{ matrix_docker_network }} \
          -e MIOUNNE_SENTRY="{{ custom_miounne_sentry }}" \
          -e MIOUNNE_SERVER_PORT={{ custom_miounne_server_port }} \
          -e MIOUNNE_SPAM_EMAILS="{{ custom_miounne_spam_emails|join(" ") }}" \
          -e MIOUNNE_SPAM_HOSTS="{{ custom_miounne_spam_hosts|join(" ") }}" \
          {% for form in custom_miounne_forms -%}{{- forms.append(form.name) -}}
          -e MIOUNNE_FORMS_{{ form.name|upper }}_URL="{{ form.url }}" \
          -e MIOUNNE_FORMS_{{ form.name|upper }}_IMG="{{ form.img }}" \
          -e MIOUNNE_FORMS_{{ form.name|upper }}_FIELDS="{{ form.fields|join(" ") }}" \
          -e MIOUNNE_FORMS_{{ form.name|upper }}_REDIRECT="{{ form.redirect }}" \
          -e MIOUNNE_FORMS_{{ form.name|upper }}_HONEYPOT="{{ form.honeypot }}" \
          {% endfor %}
          -e MIOUNNE_FORMS="{{ forms|join(" ") }}" \
          {% for arg in custom_miounne_container_extra_arguments %}
          {{ arg }} \
          {% endfor %}
          {{ custom_miounne_docker_image }}

ExecStop=-/usr/bin/env sh -c '/usr/bin/env docker kill custom-miounne 2>/dev/null'
ExecStop=-/usr/bin/env sh -c '/usr/bin/env docker rm custom-miounne 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=custom-miounne

[Install]
WantedBy=multi-user.target
