#jinja2: lstrip_blocks: "True"
#!/bin/bash

# {{ ansible_managed }}

STATUS=""
MATRIX_SERVICES=$(find /etc/systemd/system -type f -name "matrix-*" | sed -e "s/\/etc\/systemd\/system\///;s/\.service//")
for service in $MATRIX_SERVICES; do
    STATUS+="$(systemctl | grep $service)\n"
done
rm -f {{ matrix_nginx_proxy_website_path }}/{{ matrix_nginx_proxy_health_file }}
echo -e "<pre>\n$STATUS\n</pre>" | sed -e "s/^\ /-> /g" > {{ matrix_nginx_proxy_website_path }}/{{ matrix_nginx_proxy_health_file }}
chown {{ matrix_user_username }}:{{ matrix_user_groupname }} {{ matrix_nginx_proxy_website_path }}/{{ matrix_nginx_proxy_health_file }}
