#jinja2: lstrip_blocks: "True"
[Unit]
Description=Update Inventory
DefaultDependencies=no

[Service]
Type=oneshot
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
WorkingDirectory={{ int_scheduler_git_path }}
ExecStartPre=git config --local core.sshCommand "ssh -i {{ int_scheduler_config_path }}/sshkey -o StrictHostKeyChecking=accept-new"
ExecStart=git fetch --depth 1 origin main
ExecStart=git reset --hard origin/main
ExecStart=chown -R {{ matrix_user_username }}:{{ matrix_user_groupname }} {{ int_scheduler_git_path }}
SyslogIdentifier=int-scheduler-update

[Install]
WantedBy=multi-user.target
