#jinja2: lstrip_blocks: "True"
[Unit]
Description=soft-serve ssh git hosting
{% for service in custom_softserve_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in custom_softserve_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ matrix_systemd_unit_home_path }}"
ExecStartPre=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} kill custom-softserve 2>/dev/null || true'
ExecStartPre=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} rm custom-softserve 2>/dev/null || true'

ExecStart={{ matrix_host_command_docker }} run --rm --name custom-softserve \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--read-only \
			--publish={{ custom_softserve_port }}:{{ custom_softserve_port }} \
			--env-file={{ custom_softserve_config_path }}/env \
			--mount type=bind,src={{ custom_softserve_data_path }},dst=/soft-serve \
			{% for arg in custom_softserve_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ custom_softserve_docker_image }}

ExecStop=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} kill custom-softserve 2>/dev/null || true'
ExecStop=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} rm custom-softserve 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier=custom-softserve

[Install]
WantedBy=multi-user.target
