{% if moncfg_job_node_auth_user and moncfg_job_node_auth_pass %}
- job_name: "{{ moncfg_job_node_name }}"
  scheme: https
  basic_auth:
    username: "{{ moncfg_job_node_auth_user }}"
    password: "{{ moncfg_job_node_auth_pass }}"
  metrics_path: "/metrics/node-exporter"
  static_configs:
    - targets: {{ moncfg_job_node_targets }}
      labels: {{ moncfg_labels }}
{% endif %}

{% if moncfg_job_http_targets | length > 0 %}
- job_name: "{{ moncfg_job_http_name }}"
  metrics_path: "/probe"
  params:
    module: [http]
  static_configs:
    - targets: {{ moncfg_job_http_targets }}
      labels: {{ moncfg_labels }}
  relabel_configs: {{ moncfg_job_http_relabel_configs }}
{% endif %}
